<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados</title>
</head>

<body>
    <h1>Lista de Empleados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Salario</th>
                <th>Salario Anual</th>
                <th>Fecha de Inicio</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.annual_salary }}</td>
                <td>{{ employee.start_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'upload_employee' %}">Subir Empleados desde CSV</a>
</body>

</html>